
<title>Portfolio</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header class="container">
    <div class="row">
      <nav class="col-sm-8 text-right">
        <p><a href="#aboutme">About Me</a></p>
        <p><a href="#skills">Skills</a></p>
        <p><a href="#achievement">Achievements</a></p>
        <p><a href="#contactme">Contact Me</a></p>
      </nav>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2 style="color:black;">Vishal Karhade..</h2>
        <h3 style="color:black;">Founder Of <a href="#google.com" style="text-decoration:none;" target:"_blank" >Cs Inc..</a></h3>
      </div>
    </div>
  </section>
  <h1 style="font-size: 42px ; text-align:center; padding: 10px; text-shadow:10px 10px 15px;">Projects</h1>
  <br><br><br>
  <section class="container">
    <div  class="row">
      <figure class="col-sm-6">
        <img src="https://s15.postimg.cc/myspbvj8r/images.png">
        <p style="text-align:center;"><a href="#">Created My Own ML C++  Library</a> </p>
    	</figure>
    	<figure class="col-sm-6">
        <img src="https://s15.postimg.cc/pk7xakwpn/two-businessmen-talking-during-lunch-coffee-break-in-cafe_nk0i42.png">
        <p style="text-align:center;"><a href="#">Rest Time Project in C++</a></p>
        </figure>
    </div>
      <div class="row">
         <figure class="col-sm-6">
        <img src="https://s22.postimg.cc/3ykci0j1d/Screenshot_14.png">
        <p style="text-align:center;"><a href="#">Front-end of Cs Inc Websites</a></p>
    	</figure><figure class="col-sm-6">
        <img src="https://s33.postimg.cc/cry4yzzof/Screenshot_21.png">
        <p style="text-align:center;"><a href="#">Personal Webpage</a></p>
    	</figure>
    </div>
    <br><br>

     <section class="container" id="aboutme">
    <div  class="row">
      <figure class="col-sm-6">
        <h3 style="font-size: 38px;"><b>About Me</b></h3>
        <br>
        <p>This is <strong>Vishal Karhade</strong> and i pursing my engineering from Acropolis institute of technology and research .I am very interesting in machine learning and Algorithms and aspire to work in field of machine learning </p>
        </figure>
    </div>    
    </section>
    <br><br>
    <section class="container" id="skills">
    <div  class="row">
      <figure class="col-sm-6">
        <h3 style="font-size: 38px;"><b>Skills</b></h3>
        <br>
            <ul>
              <li>C++</li>
              <li>Java</li>
              <li>Python</li>
              <li>Machine Learning</li>
              <li>Competitive Programming</li>
              <li>HTML ,  CSS , JavaScripts</li>
        </ul>
          </figure>
    </div>    
    </section>
    <br><br>
     <section class="container" id="achievement">
    <div  class="row">
      <figure class="col-sm-6">
        <h3 style="font-size: 38px;"><b>Achievements</b></h3>
        <br>
        <li><a href="https://www.datacamp.com/statement-of-accomplishment/course/cc3dd1c0ea99e2db2022e6bf02fed65e0f66f654" target="_blank">Python for Data Science..</a> (DataCamp)</li>
        <li><a href="https://drive.google.com/file/d/1VKGKtwjRwtMcRLbq_5xiABStKYDeFhfr/view" target="_blank">Hour Of  Code</a> (Code.org)<li>
        <li><a href="https://drive.google.com/file/d/1me7BjmgwBga424YGnz8pARfnoIaTQs92/view" target="_blank">Introduction To Python</a> (Microsoft) </li>
        
          </figure>
    </div>    
    </section>
    <br><br>
     <section class="container" id="contactme">
    <div  class="row">
      <figure class="col-sm-6">
        <h3 style="font-size: 38px;"><b>Contact Me</b></h3>
          <form class="ti">
            <br>
          First name     :<input type="text" name="fname"><br>
          <br>
          Last name     :<input type="text" name="lname"><br>
            <br>
          Email Id        :<input type="text" name="emailid"><br>
        <br>
          Mobile No    :<input type="text" name="mobileno"><br>
        <br>
          Message   :<input type="text" name="message"><br>
        <br>
        <input style:="left: 100px; "type="submit" value="Submit">
    </form>
          </figure>
    </div>    
    </section>
       <br><br>
   
    <footer class="container">
      <div class="row">
        <p class="col-sm-4">
        	<ul class="col-sm-8">
            <li class="col-sm-1"><a href="https://twitter.com/karhade_vishal"  target="_blank"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg"></a></li>
  					<li class="col-sm-1"><a href="https://www.facebook.com/sarita34karhade" target="_blank">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></a>
</li>
            <li class="col-sm-1"><a href="https://www.instagram.com/vishal.karhade" target="_blank"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></a></li>
  					<li class="col-sm-1"> <a href="https://medium.com/@sarita34karhade" target="_blank"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></a></li>
        </ul>
        </p>
      </div>  
  </footer>
	<h3 id="cpy" style="text-align: center;">&copy; Cs Inc.</h3>
  <h4 style="text-align:center;">Created By Vishal Karhade</h4>
</body>
</html>
