body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding : 20px 0;
}
.vi{
  font-size: 20px;
}
p{
  font-size: 28px;
}
header .row,
footer .row {
  display: flex;
  align-items: right;
  text-align: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 25px;
  margin  0;
  text-align: right; 
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://s15.postimg.cc/p4s241ybv/IMG-20170615-_WA0002.jpg");
  background-size: cover;
  color: #ffffff;
  height: 750px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}
.ti{
  font-size: 24px;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}
li{
  list-style: none;
  font-size: 28px;
  margin-left: 10px;
}
.col-md-6 {
  margin: 0 0 30px;
  text-align: center;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
h2{
  text-shadow: 10px 10px 15px;
}
h3{
  text-shadow: 7px 7xp 15px;
}
.preet{
  text-shadow: 10px 10px 15px;
  font-size: 42px;
  margin-right: 200px;
}
.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}


footer ul {
  list-style: none;
}
footer li img {
  width: 32px;
  height: 50px;
}
